let mapleader = " "

" actions
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>bd <action>(CloseEditor)
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>s <action>(QuickChangeScheme)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nnoremap <leader><leader> <C-Tab>

"set NERDTree
"set easymotion
"set ideajoin
set ideaput
set idearefactormode=keep
set number relativenumber
set scrolloff=3
"set surround

nmap <leader>r <action>(ContextRun)

nmap <a-e> :action Flutter.ExtractWidget<cr>
nmap <a-s> :action StructuralSearchActions<cr>
nmap <a-h> <action>(RecentFiles)

nmap <a-=> :action EditorSelectWord<cr>
nmap <a-s> :action SurroundWith<cr>
nmap <c--> :action EditorDecreaseFontSize<CR>
nmap <c-0> :action EditorResetFontSize<CR>
nmap <c-=> :action EditorIncreaseFontSize<CR>
nmap <c-n> :action NextOccurence<cr>
nmap <c-p> :action PreviousOccurence<cr>
nmap <cr> o<esc>
nmap <leader>* <esc>:noh<cr><esc>:action HighlightUsagesInFile<cr>
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader><spacer> :q!<cr>
nmap <leader>F :action GotoSymbol<cr>
nmap <leader>RR :action Flutter.Toolbar.RestartAction<cr>
nmap <leader>b :action Back<cr>
nmap <leader>bd <action>(CloseEditor)
nmap <leader>c :action GotoClass<cr>
nmap <leader>d :action ShowErrorDescription<cr>
nmap <leader>d <C-d>
nmap <leader>df :action ToggleDistractionFreeMode<cr>
nmap <leader>e :action RenameElement<cr>
nmap <leader>e <action>(GotoNextError)
nmap <leader>ew :action Flutter.ExtractWidget<cr>
nmap <leader>f :action Forward<cr>
nmap <leader>f :action GotoFile<cr>
nmap <leader>fH :action Flutter.FlutterHelp<cr>
nmap <leader>fd :action Flutter.DeviceSelector<cr>
nmap <leader>ff :action Flutter.Toolbar.ReloadAction<cr>
nmap <leader>ff :action ToggleFullScreen<cr>
nmap <leader>fn :action Dart.NewDartFile<cr>
nmap <leader>fr :action Flutter.Toolbar.ReloadAction<cr>
nmap <leader>g :action GotoDeclaration<cr>
nmap <leader>h <action>(PreviousTab)
nmap <leader>i :action Forward<cr>
nmap <leader>i <action>(Generate)
nmap <leader>l <action>(NextTab)
nmap <leader>m :action ProjectViewChangeView<cr>
nmap <leader>m <action>(Git.Menu)
nmap <leader>nm :action FileStructurePopup<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>o :action Back<cr>
nmap <leader>p "+p
nmap <leader>pm :action TogglePresentationMode<cr>
nmap <leader>rr :action Flutter.Toolbar.ReloadAction<cr>
nmap <leader>s :action FileStructurePopup<cr>
nmap <leader>s :action GotoRelated<cr>
nmap <leader>s <action>(QuickChangeScheme)
nmap <leader>t :action SurroundWith<cr>
nmap <leader>u <C-u>
nmap <leader>y "+yy
nmap <leader>z :action SelectInProjectView<cr>
nmap <s-enter> O<esc>
nmap == :action ReformatCode<cr>:action OptimizeImports<cr>:action Javascript.Linters.EsLint.Fix<cr>
'nmap J :action MethodDown<cr>
'nmap K :action MethodUp<cr>
nmap \a <action>(Annotate)
nmap \c :action CommentByLineComment<cr>
nmap \g <action>(Git.Menu)
nmap \q <action>(QuickJavaDoc)
nmap \t :action ActivateTerminalToolWindow<cr>
nmap \Z :action ToggleZenMode<cr>
nmap \z :action ToggleFullScreen<cr>
nmap cL cg_<Esc>x

nmap gI :action GotoImplementation<cr>
nmap gJ :action EditorJoinLines<cr>
nmap gM :action RenameFile<cr>
nmap gR :action RenameElement<cr>
nmap gS :action EditorSplitLine<cr>
nmap gS :action GotoSymbol<cr>
nmap ga :action ShowIntentionActions<cr>
nmap gcc :action CommentByLineComment<cr>
nmap gi :action Generate<cr>
nmap gp :action ParameterInfo<cr>
nmap gr :action ShowUsages<cr>
nmap gl <Action>(QuickJavaDoc)
nmap ge <Action>(ShowErrorDescription)
nmap gh <Action>(ShowHoverInfo)

nnoremap ; :
nnoremap <C-k> :m -2<CR>
nnoremap <a-j> :action MoveLineDown<cr>:action VimAutoIndentLines<cr>
nnoremap <a-k> :action MoveLineUp<cr>:action VimAutoIndentLines<cr>
nnoremap <leader><leader> <C-Tab>
nnoremap <leader>L :action ReformatCode<cr>
nnoremap <leader>b :action ShowColorPicker<cr>
nnoremap <leader>bb :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>cc :action CleanGradleProject<cr>
nnoremap <leader>clear :action CloseAllEditors<cr>
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>f :action ShowFilePath<cr>
nnoremap <leader>fp :action FindInPath<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>g <c-]>
nnoremap <leader>ga :action GotoAction<cr>
nnoremap <leader>gh :action LocalHistory.ShowHistory<cr>
nnoremap <leader>h :action GotoRelated<cr>
nnoremap <leader>hsp :action SplitHorizontally<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>lc :action ActivateLogcatToolWindow<cr>
nnoremap <leader>n :action NewFile<cr>
nnoremap <leader>only :action CloseAllEditorsButActive<cr>
nnoremap <leader>q :action HideAllWindows<cr>
nnoremap <leader>re :source ~/.ideavimrc<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>ri :action Inline<cr>
nnoremap <leader>rm :action ExtractMethod<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rr :action Run<cr>
nnoremap <leader>rs :action ExtractSuperclass<cr>
nnoremap <leader>rv :action IntroduceVariable<cr>
nnoremap <leader>sh :action ActivateTerminalToolWindow<cr>
nnoremap <leader>sp :action SplitVertically<cr>
nnoremap <leader>ss :action Android.SyncProject<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>vsp :action SplitVertically<cr>
nnoremap <leader>x :action VimChangeNumberDec<cr>
nnoremap [e :action GotoPreviousError<cr>
nnoremap [g :action VcsShowPrevChangeMarker<cr>
nnoremap ]e :action GotoNextError<cr>
nnoremap ]g :action VcsShowNextChangeMarker<cr>
nnoremap cH c^
nnoremap cJ C
nnoremap g/ :action FindInPath<cr>
set clipboard+=ideaput
noremap <Leader>I :action VimWindowSplitHorizontal<cr>
noremap <Leader>S :action VimWindowSplitVertical<cr>
vmap <leader>P "+P
vmap <leader>d "+d
vmap <leader>d <C-d>
vmap <leader>p "+p
vmap <leader>u <C-u>
vmap <leader>y "+y
