source ~/.vimrc_base.vim

set surround
set multiple-cursors
set scrolloff=3

" Reload
nnoremap <leader>re :source ~/.ideavimrc<cr>

" Build & Run
nnoremap <leader>rr :action Run<cr>
nnoremap <leader>cc :action CleanGradleProject<cr>
nnoremap <leader>ss :action Android.SyncProject<cr>

" Debug
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>only :action CloseAllEditorsButActive<cr>
nnoremap <leader>clear :action CloseAllEditors<cr>

" Window
nnoremap <leader>sp :action SplitVertically<cr>
nnoremap <leader>hsp :action SplitHorizontally<cr>
nnoremap <leader>vsp :action SplitVertically<cr>

" Git
nnoremap <leader>gh :action LocalHistory.ShowHistory<cr>

" Refactor
nnoremap <leader>R :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>L :action ReformatCode<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>rm :action ExtractMethod<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>rv :action IntroduceVariable<cr>
nnoremap <leader>rs :action ExtractSuperclass<cr>
nnoremap <leader>ri :action Inline<cr>

" Tool
nnoremap <leader>fp :action FindInPath<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>ga :action GotoAction<cr>
nnoremap <leader>lc :action ActivateLogcatToolWindow<cr>
nnoremap <leader>sh :action ActivateTerminalToolWindow<cr>
nnoremap [e :action GotoNextError<cr>
nnoremap ]e :action GotoPreviousError<cr>


nmap <leader>g :action GotoDeclaration<cr>
nmap <leader>b :action Back<cr>
nmap <leader>f :action Forward<cr>

"nmap <leader>t :action GotoFile<cr>
nmap <c-p> :action GotoFile<cr>
nmap <leader>c :action GotoClass<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>nm :action FileStructurePopup<cr>
nmap <leader>d :action ShowErrorDescription<cr>

nmap <leader>z :action SelectInProjectView<cr>

nmap <leader>ff :action ToggleFullScreen<cr>
nmap <leader>df :action ToggleDistractionFreeMode<cr>
nmap <leader>pm :action TogglePresentationMode<cr>

"nmap == :action ReformatCode<cr>
nmap == :action ReformatCode<cr>:action OptimizeImports<cr>

" Switches between .cc and .h file!
nmap <leader>s :action GotoRelated<cr>

"nmap <a-j> 15gj
"nmap <a-k> 15gk

" Won't work in visual mode (with vmap) for some reason.
" Use default map of <c-/> for that.
nmap gcc :action CommentByLineComment<cr>
set clipboard+=ideaput





"futter:
"ActivateFlutterInspectorToolWindow
"ActivateFlutterOutlineToolWindow
"ActivateFlutterPerformanceToolWindow
"flutter.androidstudio.open
"flutter.build.aab
"flutter.build.aar
"flutter.build.apk
"flutter.build.ios
"flutter.clean
"Flutter.DeviceSelector
"Flutter.DeviceSelectorRefresher
"flutter.devtools.open
"flutter.doctor
map <leader>ew :action Flutter.ExtractWidget<cr>
map <leader>fH :action Flutter.FlutterHelp<cr>
"flutter.gettingStarted
"Flutter.InspectorActions
"Flutter.JumpToSource                               <C-Down>
"Flutter.JumpToTypeSource                           <S-F4>
"Flutter.MainToolbarActions
"flutter.makeHostAppEditable
"Flutter.Menu.RunProfileAction
"Flutter.Menu.RunReleaseAction
"Flutter.MenuActions.Run
"flutter.NewProject
"flutter.NewProject.welcome
"flutter.pub.get
"flutter.pub.upgrade
"flutter.submitFeedback
map <leader>fr :action Flutter.Toolbar.ReloadAction<cr>
map <leader>ff :action Flutter.Toolbar.ReloadAction<cr>
"Flutter.Toolbar.ReloadAllAction<cr>
map <leader>fR :action Flutter.Toolbar.RestartAction<cr>
map <leader>rr :action Flutter.Toolbar.RestartAction<cr>
"Flutter.Toolbar.RestartAllAction                   <A-C-S-\>
"flutter.upgrade
"flutter.xcode.open
"FlutterBuildActionGroup
"FlutterExternalIdeActionGroup
"FlutterPackagesExplorerActionGroup
"FlutterToolsActionGroup
"io.flutter.OpenDevToolsAction
"io.flutter.RestartDaemon
map <leader>fn :action Dart.NewDartFile<cr>

