" Thanks:
" https://github.com/kimkevin/dotfiles/blob/master/.ideavimrc
" https://github.com/pchampio/dotfiles/blob/master/ideavimrc

source ~/.vimrc_base.vim

set number relativenumber
set idearefactormode=keep
set ideajoin
set scrolloff=5
set surround

nmap \c :action CommentByLineComment<cr>
nmap \q <action>(QuickJavaDoc)
nmap \t :action ActivateTerminalToolWindow<cr>
nmap :G log

" nnoremap / :action Find<CR>
nnoremap g/ :action FindInPath<cr>

nmap <Leader>m :action ProjectViewChangeView<cr>

" join / split lines
nmap gJ :action EditorJoinLines<cr>
nmap gS :action EditorSplitLine<cr>

" Reload .ideavimrc
nnoremap <Space>vs :source ~/.ideavimrc<CR>

nnoremap <Leader>g <c-]>
nnoremap <Leader>h :action GotoRelated<cr>
nmap <leader>o :action Back<cr>
nmap <leader>i :action Forward<cr>

" move line up / down
nnoremap <a-j> :action MoveLineDown<cr>:action VimAutoIndentLines<cr>
nnoremap <a-k> :action MoveLineUp<cr>:action VimAutoIndentLines<cr>


noremap <Leader>S :action VimWindowSplitVertical<cr>
noremap <Leader>I :action VimWindowSplitHorizontal<cr>

nnoremap ; :

nmap <c-p> :action SearchEverywhere<cr>

nmap <leader>F :action GotoSymbol<cr>

" long jump method
nmap J :action MethodDown<cr>
nmap K :action MethodUp<cr>

nmap <Leader>e :action RenameElement<cr>

nmap <Leader>* <esc>:noh<cr><esc>:action HighlightUsagesInFile<cr>

" nmap u <esc>:action VimUndo<cr>

nnoremap [g :action VcsShowPrevChangeMarker<cr>
nnoremap ]g :action VcsShowNextChangeMarker<cr>

nnoremap ]e :action GotoNextError<cr>
nnoremap [e :action GotoPreviousError<cr>

" don't overwrite register when pasting over selection
vnoremap p pgvy

nnoremap <Leader>a :action VimChangeNumberInc<cr>
nnoremap <Leader>x :action VimChangeNumberDec<cr>
nnoremap <Leader>q :action HideAllWindows<cr>

nnoremap <Leader>b :action ShowColorPicker<cr>
nnoremap <Leader>f :action ShowFilePath<cr>


" nmap yL yg_
nmap cL cg_<Esc>x
" nmap dL dg_

" nnoremap yH y^
nnoremap cJ C
nnoremap cH c^
" nnoremap dH d^


" change font size
nmap <c-=> :action EditorIncreaseFontSize<CR>
nmap <c--> :action EditorDecreaseFontSize<CR>
nmap <c-0> :action EditorResetFontSize<CR>

nmap <Leader>t :action SurroundWith<cr>




set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

set easymotion
set multiple-cursors
set scrolloff=3

" Reload
nnoremap <leader>re :source ~/.ideavimrc<cr>
nnoremap <leader>n :action NewFile<cr>


"like lsc
"    'GoToDefinition': <C-]>,
"    'GoToDefinitionSplit': [<C-W>], <C-W><C-]>],
"    'FindReferences': gr,
nmap gr :action ShowUsages<cr>
"    'NextReference': <C-n>,
nmap <C-n> :action NextOccurence<cr>
"    'PreviousReference': <C-p>,
nmap <C-p> :action PreviousOccurence<cr>
"    'FindImplementations': gI,
nmap gI :action GotoImplementation<cr>
"    'FindCodeActions': ga,
nmap ga :action ShowIntentionActions<cr>
"    'Rename': gR,
nmap gR :action RenameElement<cr>
nmap gM :action RenameFile<cr>
"    'DocumentSymbol': go,
nmap go :action FileStructurePopup<cr>
"    'WorkspaceSymbol': gS,
nmap gS :action GotoSymbol<cr>
"    'SignatureHelp': gm,
nmap gm :action ParameterInfo<cr>






" Build & Run
nnoremap <leader>rr :action Run<cr>
nnoremap <leader>cc :action CleanGradleProject<cr>
nnoremap <leader>ss :action Android.SyncProject<cr>

" Debug
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>only :action CloseAllEditorsButActive<cr>
nnoremap <leader>clear :action CloseAllEditors<cr>

" Window
nnoremap <leader>sp :action SplitVertically<cr>
nnoremap <leader>hsp :action SplitHorizontally<cr>
nnoremap <leader>vsp :action SplitVertically<cr>

" Git
nnoremap <leader>gh :action LocalHistory.ShowHistory<cr>

" Refactor
nnoremap <leader>bb :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>L :action ReformatCode<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>rm :action ExtractMethod<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>rv :action IntroduceVariable<cr>
nnoremap <leader>rs :action ExtractSuperclass<cr>
nnoremap <leader>ri :action Inline<cr>

" Tool
nnoremap <leader>fp :action FindInPath<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>ga :action GotoAction<cr>
nnoremap <leader>lc :action ActivateLogcatToolWindow<cr>
nnoremap <leader>sh :action ActivateTerminalToolWindow<cr>

nmap gi :action Generate<cr>
nmap <leader>g :action GotoDeclaration<cr>
nmap <leader>b :action Back<cr>
nmap <leader>f :action Forward<cr>

"nmap <leader>t :action GotoFile<cr>
nmap <c-p> :action GotoFile<cr>
nmap <leader>c :action GotoClass<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>nm :action FileStructurePopup<cr>
nmap <leader>d :action ShowErrorDescription<cr>

nmap <leader>z :action SelectInProjectView<cr>

nmap <leader>ff :action ToggleFullScreen<cr>
nmap <leader>df :action ToggleDistractionFreeMode<cr>
nmap <leader>pm :action TogglePresentationMode<cr>

"nmap == :action ReformatCode<cr>
nmap == :action ReformatCode<cr>:action OptimizeImports<cr>

" Switches between .cc and .h file!
nmap <leader>s :action GotoRelated<cr>

nmap gcc :action CommentByLineComment<cr>
set clipboard+=ideaput

map <A-=> :action EditorSelectWord<cr>
map <A--> :action EditorUnSelectWord<cr>
map <A-s> :action SurroundWith<cr>



"futter:
"ActivateFlutterInspectorToolWindow
"ActivateFlutterOutlineToolWindow
"ActivateFlutterPerformanceToolWindow
"flutter.androidstudio.open
"flutter.build.aab
"flutter.build.aar
"flutter.build.apk
"flutter.build.ios
"flutter.clean
map <leader>fd :action Flutter.DeviceSelector<cr>
"Flutter.DeviceSelectorRefresher
"flutter.devtools.open
"flutter.doctor
map <leader>ew :action Flutter.ExtractWidget<cr>
map <leader>fH :action Flutter.FlutterHelp<cr>
"flutter.gettingStarted
"Flutter.InspectorActions
"Flutter.JumpToSource                               <C-Down>
"Flutter.JumpToTypeSource                           <S-F4>
"Flutter.MainToolbarActions
"flutter.makeHostAppEditable
"Flutter.Menu.RunProfileAction
"Flutter.Menu.RunReleaseAction
"Flutter.MenuActions.Run
"flutter.NewProject
"flutter.NewProject.welcome
"flutter.pub.get
"flutter.pub.upgrade
"flutter.submitFeedback
map <leader>fr :action Flutter.Toolbar.ReloadAction<cr>
map <leader>ff :action Flutter.Toolbar.ReloadAction<cr>
"Flutter.Toolbar.ReloadAllAction<cr>
map <leader>RR :action Flutter.Toolbar.RestartAction<cr>
map <leader>rr :action Flutter.Toolbar.ReloadAction<cr>
"Flutter.Toolbar.RestartAllAction                   <A-C-S-\>
"flutter.upgrade
"flutter.xcode.open
"FlutterBuildActionGroup
"FlutterExternalIdeActionGroup
"FlutterPackagesExplorerActionGroup
"FlutterToolsActionGroup
"io.flutter.OpenDevToolsAction
"io.flutter.RestartDaemon
map <leader>fn :action Dart.NewDartFile<cr>


map <F11> :action ToggleFullScreen<cr>
map <A-F11> :action ToggleZenMode<cr>



